.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.login-modal {
  width: 500px;
  max-width: 90%;

  background: #fff;
  border-radius: 18px;
  padding: 35px;

  text-align: center;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.lock-icon {
  width: 80px;
  height: 80px;

  margin: 0 auto 20px;

  border-radius: 50%;

  background: #fff5e6;
  color: #d4a017;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 42px;
}

.login-modal h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #222;
}

.modal-description {
  color: #666;
  line-height: 1.7;
  margin-bottom: 20px;
}

.feature-list {
  text-align: left;
  margin: 20px auto;
  width: fit-content;
}

.feature-list p {
  margin: 8px 0;
  color: #444;
  font-size: 15px;
}

.modal-buttons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.login-btn,
.cancel-btn {
  flex: 1;
  padding: 14px;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  transition: 0.3s ease;
}

.login-btn {
  background: #111;
  color: white;
}

.login-btn:hover {
  background: #000;
}

.cancel-btn {
  background: #f3f3f3;
  color: #333;
}

.cancel-btn:hover {
  background: #e6e6e6;
}

.login-modal {
    position: relative;
}

.close-modal-btn {
    position: absolute;
    top: 18px;
    right: 18px;

    width: 36px;
    height: 36px;

    border: none;
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border-radius: 50%;

    font-size: 24px;
    color: #666;

    transition: all 0.2s ease;
}

.close-modal-btn:hover {
    background: #f3f3f3;
    color: #111;
}