.success-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.success-card {
    background: white;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    width: 450px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

.success-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #22c55e;
    color: white;
    font-size: 45px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-card h1 {
    margin-top: 25px;
}

.success-card p {
    color: gray;
    margin: 20px 0;
}

.shop-btn {
    width: 100%;
    padding: 14px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.shop-btn:hover {
    background: #333;
}